*{
	cursor:url("../images/icon/cursor.png"),auto;
}
body{
	font:16px/1.5 "Microsoft Yahei";
	margin:0;
	color:#333;
	background-color:#fefefe;
	letter-spacing: 1px;
}
a{
	color:#4183c4;
	text-decoration:none;
}
img{
	height:auto;
}